*.csproj
*.dll
*.exe
*.cache
*.CopyComplete
*.pdb
*.props
*.sentinel
*.cache
API/API.csproj.user
**/*.Development.json

### DotnetCore ###
# .NET Core build folders
# Based on https://www.toptal.com/developers/gitignore/api/dotnetcore
**/bin/
**/obj/
**/.vs/
